# Directories #
target/
.idea
classes/
META-INF/
conf/
config/
node_modules/

# config files #
config.ini
path.ini

# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
  
# Windows image file caches
Thumbs.db 
  
# Folder config file
Desktop.ini

# Executable file
*.exe
*.bat

######################
# OSX
######################
  
.DS_Store
.svn


######################
# node.js
######################
package.json
package-lock.json

